<header class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/scanner']">
            <img src="" alt="Inwentaryzacja">
        </a>
        <div class="navbar-header">
            <a [routerLink]="['/scanner']">
                <button type="button" class="btn btn-light btn-add">Skaner</button>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>